{
  "env": {
    "test": {
      "presets": [
        ["preact-cli/babel", {
          "modules": "commonjs"
        }],
        ["@babel/preset-react", {
          "runtime": "automatic",
          "importSource": "preact"
        }]
      ]
    }
  }
}
